{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}

<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Ongoing Events | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Ongoing Events</h1>
            <p class="large">Ongoing events and workshops to empower community</p>
            <a class="btn btn--info" href="https://calendar.google.com/calendar/u/2?cid=Y19wYWFzaG5mZGw4N3ZzZzdsMDExbjE1bXZxc0Bncm91cC5jYWxlbmRhci5nb29nbGUuY29t">Get Notified/Subscribe to events</a>
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
    <div class="content-width">
        <div class="main">
            <section id="contents">
                {% for events_list in event_list  %}
                <article class="post-blog">
                     <div class="flex-container">
                        <div class="flex-item-top-left">
                            <div ><h4 ><a href="{% url 'event_detail' events_list.title_slug  %}">{{events_list.title |safe}}</a></h4></div>
                        </div>
                        <div class="flex-item-top-right">
                            {% if events_list.registration == "Registrations Open" %}
                                <div class="badge-sec" ><div  class="badge badge--yellow" style="background: rgba(0, 255, 0, 0.25);">{{events_list.registration}}</div>
                            {% else %}
                                <div class="badge-sec" ><div  class="badge badge--yellow" style="background: rgba(255, 0, 0, 0.25);">{{events_list.registration}}</div>
                            {% endif %} 
                        </div>
                    </div>
                </div> 
                    <p>{{events_list.description|safe}}</p>
                    <div class="flex-container">
                        <div class="flex-item-bottom-left">
                            <div ><strong>Start </strong></div>
                            {% if events_list.event_type|stringformat:"s" == "Webinar" %}
                            <div ><span >{{events_list.start_date|date:"M jS, f A"}}  </span></div>
                            {% else %}
                            <div ><span >{{events_list.start_date|date:"F jS, o"}}</span></div>
                            {% endif %}
                            <br>
                        </div>
                            <div class="flex-item-bottom-middle-left">
                             <div ><strong>End </strong></div>
                            {% if events_list.event_type|stringformat:"s" == "Webinar" %}
                            <div ><span >{{events_list.end_date|date:"M jS, f A"}}</span></div>
                            {% else %}
                            <div ><span>{{events_list.end_date|date:"F jS, o"}}</span></div>
                            {% endif %}
                            <br>
                        </div>
                            <div class="flex-item-bottom-right">
                            <div ><strong>Event Type</strong> </div>
                            <div >{{events_list.event_type}}</span> </div>
                            <br>
                        </div>
                            <div class="flex-item-bottom-middle-right" >
                            <div ><span></span><a class="btn btn--border" href="{% url 'event_detail' events_list.title_slug  %}">View details</a></div>
                        </div>
               
                </article>
                
                {% endfor %}
            </section>

            <!--contents -->
            <aside id="sidebar">
                <div class="sidebar__member-sec">
                    <p class="sbold">Our brothers in arms</p>
                    <ul class="sidebar__member">
                        {% for partner in partners%}
                        {% if partner.logo %}
                        <li><a  title="{{partner.name}}" href="{{partner.website}}" target="_blank"><img src={{partner.logo.url}} alt="{{partner.name}}" style ="height:70px;width:100px;" ></a></li>
                        {% endif %}
                        {%endfor%}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                        action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                        method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                        novalidate>
                        <p class="large bold">Get Latest Updates!</p>
                        <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                        <input class="btn btn--info" type="submit" value="Subscribe">
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                        </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
        </div>
        </form>
    </div>
    </aside>
    <!--sidebar -->
</div>
</div>
</div>

{% endblock %}
{%block js%}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
{%endblock%}
