{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title></title>
        
    </head>

    <body>
            <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
                    <!-- Brand/logo -->
                    {% load static %}
                    <a  href="#" class="navbar-brand">

                            <img src="/uploads/{{org.logo}}" width="50", height="50">
                    </a>
                    </nav>
        <div>
            <br>
            <form  method="post">
                {%csrf_token%}
                {{form.as_p}}
                
                
                <button type="submit" class="btn btn-success">Login</button>
                </form>
         </div>     













        </body>
        </html>