{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title>Organizations List</title>

        <script type = "text/javascript" >
            window.history.forward();
            function preventBack() { window.history.forward(1); }
            setTimeout("preventBack()", 0);
            window.onunload = function () { null };
        </script>
    </head>

    <body onload="preventBack();" onpageshow="if (event.persisted) preventBack();" onunload="">
        <nav class="navbar navbar-expand-sm bg-dark navbar-dark">
            <!-- Brand/logo -->
            {% load static %}
            <a  href="#" class="navbar-brand">

                    <img src="{{org.logo.url}}" width="50", height="50">
            </a>
            </nav>
            {% block body %}
            <form method="post">
                    {%csrf_token%}
            {{form}}
            <input type="submit" class="btn btn-success" value="Reset">
        </form>
            {%endblock%}
    </body>
    </html>