html,body,div,span,
h1,h2,h3,h4,h5,h6,
p,blockquote,q,em,img,small,strong,
dl,dt,dd,ol,ul,li,fieldset,form,label,legend{border:0;outline:0;margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent}
body{line-height:1}
ol,ul{list-style:none}
:focus{outline:0}
input,textarea{margin:0;outline:0;}
textarea{overflow:auto; resize:none;}
table{border-collapse:collapse;border-spacing:0}
/* End Reset */

/* html5 */
article, aside, details, figcaption, figure, footer, header, nav, section { display: block; }

*,
*::after,
*::before{
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* Default Font Styles
______________________*/
body, input, select, textarea{
	font-family: 'Nunito Sans', sans-serif;
	font-size: 17px;
	color: #000;
	line-height: 1.47;
}

/* Headings
______________________*/
h1{
	font-size: 30px;
	line-height: 1.167;
	font-weight: 700;
}
h2{
	font-size: 24px;
	line-height: 1.33;
	font-weight: 700;
}
h3{
	font-size: 22px;
	line-height: 1.136;
	font-weight: 700;
}
h4{
	font-size: 19px;
	font-weight: 700;
}
h4.semibold{
	font-weight: 600;
}


/* Links
______________________*/
a{
	text-decoration: none;
}
a:hover{}

.btn{
	display: inline-block;
	height: 40px;
	line-height: 40px;
	padding: 0 16px;
	background: #0068ff;
	color: #fff;
	border-radius: 5px;
	box-shadow: 0 3px 6px 0 #bfd9ff;
	transition: all 0.3s;
	cursor: pointer;
	border: none;
}
.btn.btn--info:hover{
	background: #0053cc;
}
.btn.btn--full{
	display: block;
	width: 100%;
	text-align: center;
}
.btn.btn--border{
	border: 1px solid #0068ff;
	background: #fff;
	color: #262626;
	line-height: 38px;
	box-shadow: none;
}
.btn.btn--border:hover{
	color: #fff;
	background: #0068ff;
}

/* p, blockquote, address
______________________*/
p{}
p.large{
	font-size: 20px;
	line-height: 1.25;
}
p.large.sbold{
	font-size: 19px;
}
p.large.bold{
	line-height: 1.35;
}
p.small{
	font-size: 15px;
	line-height: 1.667;
}
p.sbold{
	font-weight: 600;
}
p.bold{
	font-weight: 700;
}
img{
	max-width: 100%;
	height: auto;
}

/* Lists
______________________*/
ul{

}
ul li{
 
}
ol{

}
ol li{

}


/* Layout 
______________________*/
#container-fluid{
	
}
.content-width{
	width: 100%;
	max-width: 1120px;
	padding: 0 15px;
	margin: 0 auto;
}
.content-width.md-content-width{
	max-width: 872px;
}
.content-width.sm-content-width{
	max-width: 510px;
}

/* Header
______________________*/
#header-wrap{

}
#header{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 15px 0 15.4px;
}
.header-left{

}
.header-right{

}
.main-menu{
	display: -webkit-flex;
	display: -moz-flex;
	display: -ms-flex;
	display: -o-flex;
	display: flex;
	-webkit-flex-wrap: wrap;
	-moz-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	-o-flex-wrap: wrap;
	flex-wrap: wrap;
	-ms-align-items: center;
	align-items: center;
	font-weight: 600;
}
.main-menu > li:hover > a,
.main-menu > li.active > a{
	color: #0068ff;
	border-color: #0068ff;
}
.main-menu > li{
	margin: 0 11.5px;
}
.main-menu > li > a{
	color: #262626;
	transition: all 0.3s;
	letter-spacing: 0.34px;
	border-bottom: 2px solid transparent;
}
.main-menu > li:hover > a.btn--info,
.main-menu a.btn--info{
	color: #fff;
	border: none;
}
.main-menu > li:last-child{
	margin-right: 0;
	margin-left: 26px;
}
.menu__hasChild{
	position: relative;
}
.menu__hasChild > a::after{
	content: "\f078";
	font-weight: 900;
	font-family: "Font Awesome 5 Free";
	font-size: 15px;
	margin-left: 4px;
	color: #0068ff;
}
.menu__hasChild:hover .sub-menu{
	opacity: 1;
	visibility: visible;
}
.sub-menu{
	position: absolute;
	left: 0;
	top: 100%;
	padding-top: 10px;
	min-width: 200px;
	opacity: 0;
	visibility: hidden;
	transition: all 0.3s;
}
.sub-menu a{
	padding: 5px 10px;
	display: block;
	color: #262626;
	background: #fff;
	border: 1px solid #ccc;
	border-width: 1px 1px 0 1px;
}
.sub-menu a:hover{
	color: #fff;
	background: #0068ff;
}
.sub-menu li:last-of-type a{
	border-bottom-width: 2px;
}

/*  Banner Area
-------------------------------------- */
.banner-wrap{
	background: #fffce5 url(../images/banner-bg.jpg) no-repeat left 30% bottom;
}
.banner__main{
	text-align: center;
	min-height: 310px;
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	justify-content: center;
	-webkit-flex-direction: column;
	flex-direction: column;
	padding: 30px 0;
}
.banner__main h1:not(:last-child){
	margin-bottom: 22px;
}
.banner__main p:not(:last-child){
	margin-bottom: 20px;
}
/*  Main Area
-------------------------------------- */
#main-wrap{

}
.main__large-pd{
	padding: 110px 0 100px;
}
.main{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: flex-start;
	align-items: flex-start;
}
#contents{
	width: 100%;
	max-width: 737px;
	padding-right: 30px;
}
.post-blog{
	border-radius: 10px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background: #fff;
	padding: 16px 30px 27px 14px;
	margin-bottom: 53px;
}
.post-blog .btn.btn--border{
	font-size: 16px;
	font-weight: 600;
}
.post-blog h4{
	margin-bottom: 10px;
}
.post-blog p{
	color: #706e6e;
	letter-spacing: 0.34px;
	margin-bottom: 14px;
}
.badge-sec{
	font-size: 16px;
	margin-bottom: 13px;
}
.badge-sec__alt{
	border-left: 1px solid #0068ff;
	padding-left: 10px;
	margin-bottom: 20px;
}
.badge-sec strong{
	font-weight: 600;
	display: inline-block;
}
.badge{
	display: inline-block;
	border-radius: 5px;
	padding: 1px 5px;
	margin-left: 5px;
	background: rgba(0, 104, 255, 0.25);
}
.badge--yellow{
	background: rgba(255, 219, 0, 0.25);
}
.badge--pink{
	background: rgba(250, 121, 33, 0.25);
}
#sidebar{
	border-radius: 10px;
	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
	background: #fff;
	width: 100%;
	max-width: 293px;
}
.sidebar__list{
	padding: 25px 16px 46px;
}
.sidebar__list p{
	font-weight: 600;
	margin-bottom: 7px;
}
.sidebar__list li{
	margin-bottom: 3px;
}
.sidebar__list a{
	font-size: 15px;
	color: #0068ff;
	transition: all 0.3s;
}
.sidebar__list a:hover{
	color: #000;
}
/*	Problem Forms
------------------------------------------ */
.form-control{
	display: -webkit-flex;
	display: flex;
	margin: 0 -23px;
}
.form-control .form-field{
	width: 100%;
	max-width: 50%;
	padding: 0 23px;
}
.form-field{
	margin-bottom: 25px;
}
.form-field__select,
.form-field__calender{
	position: relative;
}
.form-field__select i,
.form-field__calender i{
	position: absolute;
	right: 15px;
	top: 50%;
	font-size: 20px;
	color: rgba(0, 0, 0, 0.50);
	transform: translateY(-50%);
	pointer-events: none;
}
.form-field label{
	display: block;
	font-size: 15px;
	font-weight: 700;
	letter-spacing: 0.3px;
	margin-bottom: 9px;
}
.form-field input:not([type="checkbox"]):not([type="radio"]),
.form-field select,
.form-field textarea{
	display: block;
	width: 100%;
	font-size: 16px;
	border-radius: 5px;
	border: solid 1px rgba(130, 126, 126, 0.5);
	padding: 0 19px;
	background-color: #ffffff;
}
.form-field select,
.form-field input{
	height: 45px;
}
.form-field select{
	-webkit-appearance: none;
	appearance: none;
}
.form-field textarea{
	padding: 12px 19px;
}
.btn-outer{
	padding-top: 10px;
}
/*	Problem Single
------------------------------------------ */
.main__md-pd{
	padding: 44px 0 128px;
}
.blog-single h3{
	color: #262626;
	margin-bottom: 21px;
}
.single__author-sec{
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 51px;
}
.author__left{
	width: 100%;
	max-width: 117px;
}
.author__right .badge-sec + .badge-sec{
	margin-bottom: 0;
}
.blog-single__content p{
	margin-bottom: 22px;
	color: #706e6e;
}
.blog-single__content p a{
	color: #0068ff;
}
.blog-single__content p.sbold{
	margin-bottom: 8px;
	color: #262626;
}
/*	NewsLetter Section
------------------------------------------ */
.newsletter{
	background: #ebf8ff;
	border-radius: 10px;
	overflow: hidden;
}
.newsletter__form{
	text-align: center;
	padding: 1px 16px 16px;
}
.newsletter__form p{
	margin-bottom: 10px;
	text-align: left;
}
.newsletter__form input:not([type="submit"]){
	display: block;
	width: 100%;
	border-radius: 5px;
	border: solid 1px rgba(112, 112, 112, 0.87);
	background: #f5f5f5;
	padding: 0 12px;
	height: 37px;
	margin-bottom: 19px;
}
.newsletter__form input:not([type="email"]){
	cursor: pointer;
}

/*  Footer 
-------------------------------------- */
.subscription-wrap{
	margin-bottom: -43px;
	position: relative;
	z-index: 1;
}
.subscription-section{
	background: #ffbe55;
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 18px 32px 16px;
	border-radius: 5px;
}
.subscription__right{
	width: 100%;
	max-width: 418px;
}
.subscription__form{
	position: relative;
}
.subscription__form input:not([type="submit"]){
	width: 100%;
	display: block;
	background: #fff;
	color: #706e6e;
	height: 51px;
	border-radius: 5px;
  	box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.13);
	padding: 0 150px 0 14px;
	border: none;
}
.subscription__form input:not([type="email"]){
	position: absolute;
	width: 131px;
	height: 51px;
	background-color: #0068ff;
	right: 0;
	top: 0;
	border-radius: 0 5px 5px 0;
	border: none;
	font-weight: 700;
	color: #fff;
	cursor: pointer;
}
.subscription__form input:not([type="email"]):hover{
	background: #0053cc;
}
#footer-wrap{
	background: #fffcf0;
}
#footer{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	padding: 77px 0 54.5px;
}
.footer__left{
	display: -webkit-flex;
	display: flex;
	width: 100%;
	max-width: 660px;
}
.footer__menu{
	width: 100%;
	max-width: 33.33%;
	font-size: 15px;
}
.footer__menu p{
	margin-bottom: 7px;
}
.footer__menu li{
	margin-bottom: 9px;
}
.footer__menu a{
	letter-spacing: 0.3px;
	color: #000000;
	display: -webkit-inline-flex;
	display: inline-flex;
	-ms-align-items: center;
	align-items: center;
	transition: all 0.3s;
}
.footer__menu a:hover{
	color: #0068ff;
}
.footer__menu address{
	font-style: normal;
	margin-bottom: 10px;
}
.footer__menu a i{
	color: #ffbe55;
	margin-right: 8px;
	font-size: 20px;
}
.footer__right p{
	margin-bottom: 7px;
}
.footer__right ul{
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	margin-bottom: 20px;
}
.footer__right li + li{
	margin-left: 14px;
}
.footer__right li a:hover{
	opacity: 0.8;
}
.footer__right li img{
	display: block;
}


.footer__copyright{
	display: -webkit-flex;
	display: flex;
	justify-content: space-between;
	-ms-align-items: center;
	align-items: center;
	padding: 19.5px 0 15.5px;
	border-top: 2px solid rgba(112, 110, 110, 0.45);
}
.copyright__left p{
	display: -webkit-flex;
	display: flex;
	-ms-align-items: center;
	align-items: center;
	font-size: 16px;
}
.copyright__left a{
	margin-left: 14px;
}
.copyright__right{
	font-size: 13px;
	letter-spacing: 0.26px;
}


.clearfix::after{
	clear: both;
	content: '';
	display: block;
}

/*	Media Queries
-------------------------------------*/
@media (max-width: 1023px) {
	.main-menu > li{
		font-size: 15px;
		margin: 0 8px;
	}
	.main-menu > li:last-child{
		margin-left: 12px;
	}
	
	.main__large-pd{
		padding: 80px 0 70px;
	}
	#sidebar{
		max-width: 250px;
	}
	.badge-sec span,
	.badge-sec strong{
		margin-bottom: 5px;
	}
	
	.form-control{
		margin: 0 -15px;
	}
	.form-control .form-field{
		padding: 0 15px;
	}

	.subscription-section{
		padding: 15px 25px;
	}
	.subscription__right{
		max-width: 380px;
	}
	#footer{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
}
@media (min-width: 768px) {
	.menu-btn{
		display: none !important;
	}
	.header__right{
		display: block !important;
	}
}
@media (max-width: 767px) {
	body, input, select, textarea{
		font-size: 16px;
	}
	p.large{
		font-size: 18px;
	}
	#header-wrap{
		position: relative;
		z-index: 1001;
	}
	#header-wrap .content-width{
		padding: 0;
	}
	#header{
		display: block;
		position: relative;
	}
	.header__left{
		display: -webkit-flex;
		display: flex;
		justify-content: space-between;
		-ms-align-items: center;
		align-items: center;
		padding: 0 15px;
	}
	.header__left img{
		display: block;
	}
	.menu-btn{
		width: 100%;
		max-width: 45px;
		cursor: pointer;
		border: 1px solid #0068ff;
		padding: 10px;
		border-radius: 4px;
	}
	.menu-btn.active,
	.menu-btn:hover{
		background: #0068ff;
	}
	.menu-btn.active i,
	.menu-btn:hover i{
		background: #fff;
	}
	.menu-btn i{
		display: block;
		height: 2px;
		background: #0068ff;
	}
	.menu-btn i + i{
		margin-top: 5px;
	}
	.header__right{
		position: absolute;
		width: 100%;
		left: 0;
		top: 100%;
		background: #fff;
		display: none;
		border-top: 1px solid #0068ff;
		border-bottom: 1px solid #0068ff;
	}
	.main-menu{
		display: block;
	}
	.main-menu > li{
		margin: 0;
	}
	.main-menu > li > a{
		display: block;
		border-bottom: 1px solid #0068ff;
		display: flex;
		justify-content: space-between;
		padding: 10px 15px;
	}
	.main-menu > li.menu__hasChild > a{
		border: none;
	}
	.sub-menu{
		position: relative;
		opacity: 1;
		visibility: visible;
		padding-top: 0;
	}
	.sub-menu a{
		padding: 10px 25px;
		border-color: #0068ff;
		border-width: 1px 0 0;
	}
	.main-menu > li:last-child{
		margin: 10px 0;
	}
	.main-menu > li > a.btn--info{
		padding: 0;
		max-width: 200px;
		margin: 0 auto;
		-ms-align-items: center;
		align-items: center;
		justify-content: center;
	}
	.sub-menu li:last-of-type a{
		border-bottom-width: 1px;
	}
	
	.main__large-pd{
		padding: 60px 0 70px;
	}
	.main{
		display: block;
	}
	#contents{
		max-width: none;
		padding-right: 0;
	}
	#sidebar{
		max-width: 50%;
		margin: 0 auto;
	}
	.post-blog{
		margin-bottom: 30px;
	}
	
	.site-form{
		margin-bottom: 50px;
	}
	.form-control{
		margin: 0;
		display: block;
	}
	.form-control .form-field{
		padding: 0;
		max-width: none;
	}
	.form-field{
		margin-bottom: 15px;
	}
	.main__md-pd{
		padding: 30px 0 100px;
	}

	.subscription-section{
		display: block;
	}
	.subscription__left{
		margin: 0 auto 5px;
		max-width: 380px;
	}
	.subscription__right{
		margin: 0 auto;
	}
	.subscription__form input:not([type="submit"]){
		height: 45px;
	}
	.subscription__form input:not([type="email"]){
		width: 110px;
		height: 45px;
	}

	.main__contact-sidebar,
	.main__contact-form{
		max-width: none;
	}
	.main__contact-form{
		padding: 20px;
	}
	.site-form--fixWidth.site-form{
		margin-bottom: 0;
	}

	#footer{
		-webkit-flex-wrap: nowrap;
		flex-wrap: nowrap;
		padding-bottom: 30px;
	}
	.footer__left{
		-webkit-flex-wrap: wrap;
		flex-wrap: wrap;
	}
	.footer__menu{
		max-width: 50%;
	}
}
@media (max-width: 575px) {
	.footer__copyright{
		display: block;
		text-align: center;
	}
	#sidebar{
		max-width: none;
	}
	.copyright__left p{
		justify-content: center;
	}
	.footer__menu{
		max-width: none;
	}
	.leader-skill-sec{
		display: block;
	}
	.leader-skill__left{
		margin-bottom: 20px;
	}
}