{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}

<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Error | Hack For Change {% endblock %}
{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main banner__main--upper banner__main--community">
            <h1></h1>
            <p class="large"></p>
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<!-- Main starts -->
<div class="content-width">
        <div class="thanku-main">
            <div class="thanku-main-img">
                <img src="{% static 'images/error.jpg' %}"> 
            </div>
            <div class="thanku-heading">
               <h3>
                The requested page is not found!!!</h3>
           </div>
        </div>
    </div>
<!-- Main Ends -->
{%endblock%}
