{% extends 'HFC/layout.html' %}
{% load static  %}
{% block title %} About | Hack For Change {% endblock %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main banner__main--upper banner__main--community">
            <h1>About Us</h1>
            <p class="large">Building sustainable solutions to social problems, by connecting tech enthusiasts with
                public domain experts</p>
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main-wrap--pdb">
    <div class="content-width">
        <ul class="tab-sec">
            <li class="active"><a href="#aboutUs"><img width="24" src="{% static 'images/aboutus-icon.svg' %}"
                        alt="ICON"><img width="24" src="{% static 'images/aboutus-icon-alt.svg' %}"
                        alt="ICON"><span>About Us</span></a></li>
            <li><a href="#ourMission"><img width="23" src="{% static 'images/our-mission-icon.svg' %}" alt="ICON"><img
                        width="23" src="{% static 'images/our-mission-icon-alt.svg' %}" alt="ICON"><span>Our
                        Mission</span></a></li>
            <li><a href="#howItWorks"><img width="25" src="{% static 'images/hiw-icon.svg' %}" alt="ICON"><img
                        width="25" src="{% static 'images/hiw-icon-alt.svg' %}" alt="ICON"><span>How it Works</span></a>
            </li>
        </ul>
        <div class="hfc-outer">
            <section class="active" id="aboutUs">
                <div class="about-content">
                    <p>
                        Hack For Change is a community of developers, software engineers and other like minded
                        individuals, focused on solving <b>specific problem statements</b> proposed by social and
                        governmental organisations, using <b>emerging technologies</b>.
                    </p>
                    <p>
                    </p>
                </div>
                <div class="about-team">
                    <h2 class="underline">Meet Our Team</h2>
                    <div class="about-team__outer">
                        <div class="about-team__sec">
                            <div class="about-team__fig">
                                <img src="{% static 'images/srini.png' %}" alt="Pic">
                            </div>
                            <div class="about-team__info">
                                <h4>Srinivas Aki <span>Program Manager</span></h4>
                                <p>Leads the complete hackforchange, including its vision, outreach and program
                                    execution</p>
                            </div>
                        </div>
                        <div class="about-team__sec">
                            <div class="about-team__fig">
                                <img src="{% static 'images/durga.png' %}" alt="Durga Raghavapurapu">
                            </div>
                            <div class="about-team__info">
                                <h4>Durga Raghavapurapu <span>Engineering Lead</span></h4>
                                <p>Leads the development effort, along with community of developers from cities and
                                    colleges</p>
                            </div>
                        </div>
                    </div>
                    <div class="about-team__outer about-team__outer--third">
                        <div class="about-team__sec">
                            <div class="about-team__fig">
                                <img width="100" src="{% static 'images/sambit.png' %}" alt="Sambit Mohanty">
                            </div>
                            <div class="about-team__info">
                                <h4>Sambit Mohanty<span>Engineering</span></h4>
                                <p>Leads the core hack for change platform development, along with contributions from
                                    the community </p>
                            </div>
                        </div>
                        <div class="about-team__sec">
                            <div class="about-team__fig">
                                <img width="100" src="{% static 'images/suman.png' %}" alt="Suman Tyaagi">
                            </div>
                            <div class="about-team__info">
                                <h4>Suman Tyaagi<span>Community Outreach</span></h4>
                                <p>Getting people inspired and joining hands to work together on our platform</p>
                            </div>
                        </div>
                        <div class="about-team__sec">
                            <div class="about-team__fig">
                                <img width="100" src="{% static 'images/shabana.png' %}" alt="Shabana Syed">
                            </div>
                            <div class="about-team__info">
                                <h4>Shabana Syed <span>Visual Design</span></h4>
                                <p>Leads the design effort for hack for change and all its outreach channels</p>
                            </div>
                        </div>
                    </div>
            </section>

            <section id="ourMission">
                <div class="mission-outer">
                    <h2 class="underline">Solve real problems</h2>
                    <div class="mission__sec">
                        <div class="mission__fig"><img width="414" src="{% static 'images/our-mission-img1.jpg' %}"
                                alt="Pic"></div>
                        <div class="mission__info">
                            <p>
                                Our idea is to lean on the organizations that have been in the trenches and build real
                                solutions to the problems in an even more realistic way. Problem statements are
                                submitted by partner organisations with deep domain expertise.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mission-outer">
                    <h2 class="underline">Engage the whole community</h2>
                    <div class="mission__sec mission__sec--alt">
                        <div class="mission__fig"><img width="418" src="{% static 'images/our-mission-img2.jpg' %}"
                                alt="Pic"></div>
                        <div class="mission__info">
                            <p>
                                Planned projects are executed to through community of colleges and city chapters. Only
                                by leveraging the whole community of developers, we hope to scale our efforts to
                                effect social change.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="mission-outer">
                    <h2 class="underline">Build long-lasting solutions</h2>
                    <div class="mission__sec">
                        <div class="mission__fig"><img width="387" src="{% static 'images/our-mission-img3.jpg' %}"
                                alt="Pic"></div>
                        <div class="mission__info">
                            <p>
                                Unlike other free and open source efforts, our projects are designed by our core team of
                                members, based on the problem statements. Solutions built are actively promoted and
                                advertised to ensure continuous adoption.
                            </p>
                        </div>
                    </div>
                </div>
            </section>
            <section id="howItWorks">
                <a name="howItWorks">
                    <div class="howItWorks-outer">
                        <div class="howItWorks__sec">
                            <div class="howItWorks__fig">
                                <span>1</span>
                                <img width="278" src="{% static 'images/undraw_Questions_re_1fy7.svg' %}"
                                    srcset="images/undraw_Questions_re_1fy7@2x.png 2x, images/undraw_Questions_re_1fy7@3x.png 3x">
                            </div>
                            <div class="howItWorks__info">
                                <div class="howItWorks__info__inner">
                                    <p class="large bold">Problem Statement Identification</p>
                                    <p> Our partner organizations with deep domain expertise suggest problem statements
                                        and a possible solution to the issues that can be solved by leveraging
                                        technology.</p>
                                </div>
                            </div>
                        </div>
                        <div class="howItWorks__sec">
                            <div class="howItWorks__fig">
                                <span>2</span>
                                <img width="288" src="{% static 'images/undraw_shared_goals_3d12.svg' %}"
                                    srcset="images/undraw_shared_goals_3d12@2x.png 2x, images/undraw_shared_goals_3d12@3x.png 3x">
                            </div>
                            <div class="howItWorks__info">
                                <div class="howItWorks__info__inner">
                                    <p class="large bold">Solutioning And Planning</p>
                                    <p> Our core team of technologists and social scientists evaluate the problem
                                        statement, analyze effectiveness of the proposed solution, and devise a way
                                        forward.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="howItWorks__sec">
                            <div class="howItWorks__fig">
                                <span>3</span>
                                <img width="282" src="{% static 'images/undraw_meet_the_team_e5b7.svg' %}"
                                    srcset="images/undraw_meet_the_team_e5b7@2x.png 2x, images/undraw_meet_the_team_e5b7@3x.png 3x">
                            </div>
                            <div class="howItWorks__info">
                                <div class="howItWorks__info__inner">
                                    <p class="large bold">Contributors Join HFC Community </p>
                                    <p> Developers and designers from various colleges and cities join the HackForChange
                                        community at a college center level or a city chapter level based on their
                                        availability.</p>
                                </div>
                            </div>
                        </div>
                        <div class="howItWorks__sec">
                            <div class="howItWorks__fig">
                                <span>4</span>
                                <img width="325" src="{% static 'images/undraw_shared_workspace_hwky.svg' %}"
                                    srcset="images/undraw_shared_workspace_hwky@2x.png 2x, images/undraw_shared_workspace_hwky@3x.png 3x">
                            </div>
                            <div class="howItWorks__info">
                                <div class="howItWorks__info__inner">
                                    <p class="large bold">Project Planning & Groundwork</p>
                                    <p> Our core team of project co-ordinators along with the leadership team, define a
                                        product roadmap and create an execution plan.
                                    </p>
                                </div>
                            </div>
                        </div>
                        <div class="howItWorks__sec">
                            <div class="howItWorks__fig">
                                <span>5</span>
                                <img width="295" src="{% static 'images/undraw_maker_launch_crhe.svg' %}"
                                    srcset="images/undraw_maker_launch_crhe@2x.png 2x, images/undraw_maker_launch_crhe@3x.png 3x">
                            </div>
                            <div class="howItWorks__info">
                                <div class="howItWorks__info__inner">
                                    <p class="large bold">Collaborative Execution</p>
                                    <p>
                                        Based on the defined product roadmap and the project plan, solution is developed
                                        through community of contributors at college level or city level.
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </a>
            </section>
        </div>
    </div>
</div>
<!--main end -->
{% endblock %}
