{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}

<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Thanks | Hack For Change {% endblock %}
{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
               
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<!-- Main starts -->
<div class="content-width">
        <div class="thanku-main">
            <div class="thanku-main-img">
                <img src="{% static 'images/thank-you-img.svg' %}"> 
            </div>
            <div class="thanku-heading">
               <h3>Thank you for signing up as a community member. We will keep you posted on the latest news, events and updates from the community.</h3>
               
               
           </div>
        </div>
    </div>
<!-- Main Ends -->
{%endblock%}
