{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Community | Hack For Change {% endblock %} <!--Change title according to page-->

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>{{center.organization_name}}</h1>
            <p class="large">
                    {% if center.type == 'center'%}
                     <a>Inviting working professionals from various cities to join our community<a>
                     {% else %}
                     <a> Inviting students from the institute to join our community<a>
                     {% endif %}
                     <br><br>
                    <a href="{% url 'center_signup' center.organization_name_slug %}" class="btn btn--hfc">Join as a member</a>
            </p>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
    <div class="content-width">
        <div class="main">
            <section id="contents">
                {% if center.logo %}
                    <div class="uni-chapter"><img width="84px" src={{center.logo.url}}><h2>{{center.organization_name}} Leaderboard</h2></div>
                {% else %}
                    <div class="uni-chapter"><img width="84px" src="{% static 'images/hfc-small.png' %}"><h2>{{center.organization_name}} Leaderboard</h2></div>
                {% endif %}
                <section id="hfcLeaderboard">
                <div class="unborder-table__outer">
                    <table class="unborder-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Projects</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contributor in contributors_list %}
                            {% if contributor.commit and center.organization_name == contributor.organization_id|stringformat:"s"  %}
                          
                            <tr>
                                <td>
                                    <div class="table-sec">
                                        <div class="table-fig" id="profileImage">{{contributor.community_member.name.0}}
                                        </div>
                                        <div class="table-info" style="padding-left: 20px;">
                                            <p class="large"><span id="firstName">{{contributor.community_member.name}}
                                            </p></span>
                                            <div class="comment-count"><img width="16"
                                                    src="{% static 'images/badge-icon.svg' %}" alt="Icon">No. of Commits
                                                : {{contributor.commit}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="large sbold">{% if contributor.get_project %} {{contributor.get_project}}
                                        {%endif%}</p>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!----  <div class="lead-more-btn">
                            <a href="#" class="btn btn--border">Load More Leaders</a>
                        </div>-->
            </section>
            </section>
            <!--contents -->
            <aside id="sidebar">
                <div class="sidebar__member-sec">
                    <p class="sbold">Top Contributors</p>
                    <ul class="sidebar__member">
                        {% for contributor in contributors%}
                        {% if contributor.image %}
                        <li><a  title="{{contributor.name}}" href="{{contributor.linkedin_profile}}" target="_blank"><img src={{contributor.image.url}} alt="{{contributor.name}}" ></a></li>
                        {% endif %}
                        {%endfor%}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                        action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                        method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                        novalidate>
                        <p class="large bold">Get Latest Updates!</p>
                        <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                        <input class="btn btn--info" type="submit" value="Subscribe">
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                        </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
        </div>
        </form>
    </div>
    </aside>
    <!--sidebar -->
</div>
</div>
</div>
{%endblock%}

{% block js %}
<script>
    $(function () {
    $("#id_profession").change();
    });
    $("#id_profession").change(function () {
        var url = $("#volform").attr("sub-change-url");
        console.log(url)
        var expertise_area_id = $(this).val();
        $.ajax({
            url: url,
            data: {
                'profession': expertise_area_id
            },
            success: function (data) {
                $("#id_area_of_expertise").html(data);
                console.log(data)
            }
        });
    });



  

</script>
{% endblock %}
