{% extends 'HFC/email_layout.html' %}
{% block main %}
<!-- START CENTERED WHITE CONTAINER -->
<span class="preheader"></span>
<table role="presentation" class="main">
  <!-- START MAIN CONTENT AREA -->
  <tr>
    <td class="wrapper">
      <table role="presentation" border="0" cellpadding="0" cellspacing="0">
        <tr>
          <td>
            <p>Dear {{name}},</p>
            <p>Thank you for signing up as a member of our community. Please check out our ongoing projects and understand how you can contribute further.</p>
            <p>We need active help from both working and non-working professionals like you, to affect social change.</p>
              <table role="presentation" border="0" cellpadding="0" cellspacing="0" class="btn btn-primary">
              <tbody>
                  <tr>
                       <td align="left">
                        <table role="presentation" border="0" cellpadding="0" cellspacing="0">
                           <tbody>
                              <tr>
                              <td> <a href="https://www.hackforchange.co.in/projects" target="_blank">View projects</a> </td>   
                              </tr>
                            </tbody>
                          </table>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                  <p>Best,<br>
                    Suman Tyaagi<br>
                    For HackForChange</p>
                </td>
              </tr>
            </table>
          </td>
        </tr>
      <!-- END MAIN CONTENT AREA -->
      </table>
  {% endblock %}
                                    