{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="Community Hack For Change">
<meta name="description" property="og:description" content="Hack For Change community is a group of developers, designers, facilitators, students across various cities and colleges of India.">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/community">
{% endblock %}
{% block title %} Community | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main banner__main--upper banner__main--community">
            <h1>Community</h1>
            <p class="large">Our community of contributors across various colleges and cities</p>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main-wrap--pdb">
    <div class="content-width">
        <ul class="tab-sec">
            <li class="active"><a href="#Centres"><img width="27" src="{% static 'images/hfc-icon1.svg' %}"
                        alt="ICON"><img width="27" src="{% static 'images/hfc-icon1-alt.svg' %}" alt="ICON"><span>HFC
                        Centres</span></a>
            </li>
            <li><a href="#Chapters"><img width="48" src="{% static 'images/hfc-icon2.svg' %}" alt="ICON"><img
                        width="48" src="{% static 'images/hfc-icon2-alt.svg' %}" alt="ICON"><span>HFC
                        Chapters</span></a></li>
            <li><a href="#Leaderboard"><img width="23" src="{% static 'images/hfc-icon3.svg' %}" alt="ICON"><img
                        width="23" src="{% static 'images/hfc-icon3-alt.svg' %}" alt="ICON"><span>Leaderboard</span></a>
            </li>
        </ul>
        <div class="hfc-outer">
            <section class="active" id="Centres">
                <div class="main main--community">
                    {% for center in hfc_centers %}
                    <div class="main__community-outer">
                    {% if center.logo %}
                        <div class="main__community-fig squre-radius"><img width="85" src={{center.logo.url}}
                                alt="Logo"></div>
                    {% endif %}
                        <div class="main__community-sec">
                            <p class="large sbold">{{center.organization_name}}</p>
                            <p>{{center.project.count}} Projects, {{center.community_member_set.count}} Members</p>
                            <a href="centre/{{center.organization_name_slug}}/signup/" class="btn btn--border" id="center_contrib">Join as a member</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="hfc-card">
                    <div class="hfc-card__fig"><img width="111" src="{% static 'images/hfc-img.jpg' %}" alt="Pic"></div>

                    <div class="hfc-card__info">
                        <h3>Don't see a centre in your city?</h3>
                        <p class="small">Lets create one, and get your city involved. As always, you can always join the
                            nearest city centre as well.</p>
                        <a href="{% url 'contact' %}" class="btn btn--info">Contact Us</a>
                    </div>
                </div>
            </section>
            <section id="Chapters">
                <div class="main main--community">
                    {% for chapter in hfc_chapters %}
                    <div class="main__community-outer">
                    {% if chapter.logo %}
                        <div class="main__community-fig squre-radius"><img width="85" src={{chapter.logo.url}}
                                alt="Logo"></div>
                    {% endif %}
                        <div class="main__community-sec">
                            <p class="large sbold">{{chapter.organization_name}}</p>
                            <p>{{chapter.project.count}} Projects, {{chapter.community_member_set.count}} Members</p>
                            <a href="chapter/{{chapter.organization_name_slug}}/signup/" class="btn btn--hfc">Join as a
                                member</a>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                <div class="hfc-card">
                    <div class="hfc-card__fig"><img width="111" src="{% static 'images/hfc-img.jpg' %}" alt="Pic"></div>
                    <div class="hfc-card__info">
                        <h3>Want to set up chapter in your college?</h3>
                        <p class="small">Reach out to us directly to open a new
                            chapter at your own college premises.</p>
                        <a href="{% url 'contact' %}" class="btn btn--info">Contact Us</a>
                    </div>
                </div>
            </section>
            <section id="Leaderboard">
                <div class="unborder-table__outer">
                    <table class="unborder-table">
                        <thead>
                            <tr>
                                <th>Name</th>
                                <th>Centre / Chapter</th>
                                <th>Projects</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for contributor in contributors_list %}
                            {% if contributor.commit%}
                            <tr>
                                <td>
                                    <div class="table-sec">
                                        <div class="table-fig" id="profileImage">{{contributor.community_member.name.0}}
                                        </div>
                                        <div class="table-info" style="padding-left: 20px;">
                                            <p class="large"><span id="firstName">{{contributor.community_member.name}}
                                            </p></span>
                                            <div class="comment-count"><img width="16"
                                                    src="{% static 'images/badge-icon.svg' %}" alt="Icon">No. of Commits
                                                : {{contributor.commit}}
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td>
                                    <p class="large sbold">{% if contributor.organization_id %}
                                        {{contributor.organization_id}} {%endif%}</p>
                                </td>
                                <td>
                                    <p class="large sbold">{% if contributor.get_project %} {{contributor.get_project}}
                                        {%endif%}</p>
                                </td>
                            </tr>
                            {% endif %}
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
                <!----  <div class="lead-more-btn">
                            <a href="#" class="btn btn--border">Load More Leaders</a>
                        </div>-->
            </section>
        </div>
    </div>
</div>
<!--main end -->
{% endblock %}
