{% load static from staticfiles %}

<!--footer start -->
<div class="subscription-wrap">
    <div class="content-width md-content-width">
        <div class="subscription-section">
            <div class="subscription__left">
                <p class="large bold">Subscribe to our newsletter</p>
            </div>
            <div class="subscription__right">
                <form class="subscription__form" action="https://hackforchange.us7.list-manage.com/subscribe/post"
                    method="POST" target="formaReturning">
                    <input type="hidden" name="u" value="d108098b91660a39ebfc4dd46">
                    <input type="hidden" name="id" value="878602ff9c">
                    <input type="email" placeholder="Enter your email" value="" name="EMAIL" id="mce-EMAIL">
                    <input type="submit" value="Subscribe" id="mc-embedded-subscribe">
                </form>

                <iframe name="formaReturning" style="display:none !important;" frameborder="0"></iframe>
                <!--End mc_embed_signup-->
                
                    <p id="thankYouMessage" style="display:none;font-size: 8px;">Successfully subscribed to the hackforchange newsletter.</p>
                
            </div>
        </div>
        
    
    </div>
</div>

<div id="footer-wrap">
    <div class="content-width md-content-width">
        <footer id="footer">
            <div class="footer__left">
                <div class="footer__menu">
                    <p class="small bold">Company</p>
                    <ul>
                        <li><a href="{% url 'about' %}">About</a></li>
                        <li><a href="{% url 'problem_statements' %}">Problem Statements</a></li>
                        <li><a href="{% url 'projects' %}">Projects</a></li>
                        <li><a href="{% url 'community' %}">Community</a></li>
                    </ul>
                </div>
                <div class="footer__menu">
                    <p class="small bold">Legal</p>
                    <ul>
                        <li><a href="{% url 'privacy' %}">Privacy Policy</a></li>
                        <li><a href="{% url 'terms_conditions' %}">Terms & Conditions</a></li>
                    </ul>
                </div>
                <div class="footer__menu">
                    <p class="small bold">Get In Touch</p>
                    <address>402 Abhis Hiranya <br>Kavuri Hills, Madhapur <br>Hyderabad - 500 033</address>
                    <p><a href="mailto:contact@hackforchange.co.in"><i> <img width="24"
                                    src="{% static 'images/envelope-icon-w.svg' %}"
                                    alt="icon"></i>contact@hackforchange.co.in</a></p>
                    <p><a href="tel:+91 99633 62872"><i><img width="19" src="{% static 'images/phone-icon-w.svg' %}"
                                    alt="icon"></i>+91 99633 62872</a></p>
                </div>
            </div>
            <div class="footer__right">
                <p class="small bold">Social Media</p>
                <ul>
                    <li><a href="https://www.facebook.com/HackForChange"><img width="30"
                                src="{% static 'images/facebook-icon.svg' %}" alt="Icon"></a></li>
                    <li><a href="https://www.instagram.com/hackforchange/"><img width="35"
                                src="{% static 'images/insta-icon.svg' %}" alt="Icon"></a></li>
                    <li><a href="https://www.linkedin.com/showcase/hack-for-change"><img width="31"
                                src="{% static 'images/linkedin-icon.svg' %}" alt="Icon"></a></li>
                </ul>
                <a href="{% url 'donate' %}" class="btn btn--border">Donate</a>
            </div>
        </footer>
        <footer class="footer__copyright">
            <div class="copyright__left">
                <p>An Initiative By<a href="https://www.ctsc-india.org/"><img width="171"
                            src="{% static 'images/ctsc-logo.svg' %}" alt="logo"></a></p>
            </div>
            <div class="copyright__right">© Copyright 2020, All Rights Reserved</div>
        </footer>
    </div>
</div>

<!--footer end -->
{% block js%}
<script type="text/javascript" src="{% static 'js/jquery-3.5.1.min.js' %}"></script>
<script>
    jQuery('.subscription__form').submit(function (e) {
        var $this = jQuery(this);
        jQuery.ajax({
            type: "GET",
            url: "https://hackforchange.us7.list-manage.com/subscribe/post-json?c=?",
            data: $this.serialize(),
            dataType: 'json',
            contentType: "application/json; charset=utf-8",
            error: function (err) {
                alert("Could not connect to the registration server.");
            },
            success: function (data) {
                if (data.result != "success") {
                    jQuery('#thankYouMessage').css("display", "block");
                    jQuery('#thankYouMessage').text(data.msg.substr(0, data.msg.indexOf('<')));
                } else {
                    jQuery('subscription__form').hide();
                    jQuery('#thankYouMessage').css("display", "block");
                    jQuery('#thankYouMessage').text(data.msg);

                }
            }
        });
        return false;
    });
</script>
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
{%endblock%}
