{% extends "HFC/layout.html" %}
{% load static  %}
{% block meta_tags %}
<meta name="keywords" content="">
<meta property="og:title" content="Hack For Change">
<meta property="og:description" name="description"  content="Hack For Change is a community of developers, designers, marketers and facilitators focused on solving specific problem statements proposed by social, governmental and non-governmental organizations, using emerging technologies.">
<meta property="og:type" content="website">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/">
{% endblock %}
{% block title %}Home | Hack For Change{% endblock %}

{% block main %}
<!--Banner start -->
<div class="home-banner-wrap">
    <div class="content-width">
        <div class="home-banner">
            <div class="home-banner__right">
                <img src="{% static 'images/developer-team-2043022-0.svg' %}" srcset="images/developer-team-2043022-0@2x.png 2x, images/developer-team-2043022-0@3x.png 3x "
                    alt="Pic">
            </div>
            <div class="home-banner__left">
                <h1>Lets join hands to create a lasting social change</h1>
                <p class="large sbold">Our approach to empowerment is to design technology-driven systemic solutions
                    for present-day social challenges</p>
                <div class="banner__btn">
                    <a class="btn btn--info" href="{% url 'about' %}#ourMission">Our Mission</a><a class="btn btn--border"
                        href="{% url 'donate' %}">Donate</a>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div class="solution-wrap">
    <div class="solution__left"><img width="685" src="{% static 'images/solution-img.jpg' %}" alt="Pic"></div>
    <div class="solution__main">
        <div class="content-width">
            <div class="solution__inner">
                <div class="solution__right">
                    <h2>Our focus areas</h2>
                    <p> Our primary focus is on empowering lasting social change by improving ones' relationship with
                        the government and also with his community as a whole.</p>
                    <a class="btn btn--border" href="{% url 'issue_areas'%}">Read More</a>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="contribute-wrap">
    <div class="content-width">
        <div class="contribute__main">
            <div class="contribute__top">
                <h2 class="underline">How can you contribute?</h2>
                <p>Join our community of coders, designers and experienced mentors to work on specific problem
                    statements</p>

            </div>
            <div class="contribute__outer">
                <div class="contribute__sec">
                    <div class="contribute__info">
                        <h4>Coders</h4>
                        <p> Develop robust and scalable software applications based on product roadmaps</p>
                        <img src="{% static 'images/undraw_code_typing_7jnv.svg' %}" srcset="images/undraw_code_typing_7jnv@2x.png 2x, images/undraw_code_typing_7jnv@3x.png 3x"
                            alt="Pic">
                    </div>
                </div>
                <div class="contribute__sec">
                    <div class="contribute__info">
                        <h4>Designers</h4>
                        <p>Ideate and design solutions for some of the pressing social problems of today</p>
                        <img width="238" src="{% static 'images/contribute-img2.svg' %}" alt="Pic">
                    </div>
                </div>
                <div class="contribute__sec">
                    <div class="contribute__info">
                        <h4>Mentors</h4>
                        <p>Guide our community of developers from various city chapters and colleges</p>
                        <img src="{% static 'images/undraw_online_learning_ao11.svg' %}" srcset="images/undraw_online_learning_ao11@2x.png 2x, images/undraw_online_learning_ao11@3x.png 3x"
                            alt="Pic">
                    </div>
                </div>
            </div>
            <div class="contribute__btn">
                <a href="{% url 'about' %}#howItWorks"><span>Learn More</span><i class="fas fa-chevron-right"></i></a>
            </div>
        </div>
    </div>
</div>
<div class="home-donate-wrap">
    <div class="content-width">
        <div class="home-donate-sec">
            <p class="large bold">Your donations will go a long way in sustaining our mission</p>
            <a class="btn btn--info" href="{% url 'donate' %}">Donate</a>
        </div>
    </div>
</div>
<div class="we-work-wrap">
    <div class="content-width">
        <div class="we-work__main">
            <h2 class="underline">Our solution partners</h2>
            <p class="large">A few of the governmental, non-governmental and social organisations who have partned with
                us, to scale their mission, using our community of developers and designers </p>
            <div class="we-work__sec">
                <div class="we-work__fig"><img src="{% static 'images/faq-logo.svg' %}" srcset="images/faq-logo@2x.png 2x, images/faq-logo@3x.png 3x"></div>
                <div class="we-work__fig"><img src="{% static 'images/fdr-logo.svg' %}" srcset="images/fdr-logo@2x.png 2x, images/fdr-logo@3x.png 3x"></div>
                <div class="we-work__fig"><img src="{% static 'images/md-logo.svg' %}" srcset="images/md-logo@2x.png 2x, images/md-logo@3x.png 3x"></div>
                <div class="we-work__fig"><img src="{% static 'images/ghmc-logo.png' %}"  width="140px" height="140px" srcset="images/md-logo@2x.png 2x, images/md-logo@3x.png 3x"></div>
                
            </div>
            <p>Reach out to us, if you think your organization can leverage our help? <a href="{% url 'contact' %}">Send
                    us a note</a></p>
        </div>
    </div>
</div>


<div class="home-blog-wrap">
    <div class="contribute__top">
        <h2 class="underline">Our Latest Events</h2>
    </div>

    <div class="content-width blog-list home-update">
        {% for event in events %}
        <div class="post-block">
            <div class="post-img">
                {% if event.open_graph_banner %}
                <a href="{% url 'event_detail' event.title_slug  %}"><img src="{{event.open_graph_banner.url}}" alt="Preview image for {{event.title |safe}}"></a>
                {% else %}
                <a href="{% url 'event_detail' event.title_slug  %}"><img src="{% static 'images/hfc.png' %}" alt="Preview image for {{event.title |safe}}"></a>
                {%endif%}
            </div>
            <div class="post-info">
                <p>{{ event.start_date|date:"DATE_FORMAT" }} </p>
                {% if event.registration == "Registrations Open" %}
                <div class="badge-sec" >
                    <div class = "badge badge--event" >Registrations Open</div>
                </div>
                {%else%}
                <div class="badge-sec" >
                    <div class = "badge badge--eventclose" >Registrations Closed</div>
                </div>
                {%endif%}
                <h4><a href="{% url 'event_detail' event.title_slug  %}">{{ event.title | safe }}</a></h4>
                <a href="{% url 'event_detail' event.title_slug  %}">Learn More<img src="{% static 'images/angle-right.png' %}"></a>
            </div>
        </div>
        {% endfor%}
    </div>
</div>

<!--main end -->
{% endblock%}
