{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta name="keywords" content="">
<meta property="og:title" content="Focus Areas Hack For Change">
<meta name="description" property="og:description" content="Our primary focus is on empowering lasting social change by improving ones' relationship with the government and also with his community as a whole">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/focus-areas/">
{% endblock %}
{% block title %} Focus Areas | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Focus Areas</h1>
            <p class="large">Our primary focus areas leveraging technology as a catalyst.
            </p>
            <a class="btn btn--info" href="{% url 'problem_statements_submit' %}">Suggest a problem statement</a>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
    <div class="content-width">
        <div class="main">
            <section id="contents">
                {% for issue in issue_areas %}
                <article class="post-blog">
                    <h4>{{issue.issue_area}}</h4>
                    <p>{{issue.issue_brief}}</p>
                    {% if issue.issue_brief %}
                    <a class="btn btn--border" href="{% url 'issue_area' issue.issue_area_slug %}">View
                        Details</a>
                    {% endif %}
                </article>
                {% endfor %}
            </section>
            <!--contents -->
            <aside id="sidebar">
                <div class="sidebar__list">
                    <p>Explore technology interventions across various issue areas</p>
                    <ul>
                        {% for issue_area in issue_areas %}
                    <li><a href="{% url 'issue_area' issue_area.issue_area_slug %}">{{issue_area.issue_area}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                        method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                        novalidate>
                        <p class="large bold">Get Latest Updates!</p>
                        <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                        <input class="btn btn--info" type="submit" value="Subscribe">
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                        </div>
                    </form>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                    <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_d108098b91660a39ebfc4dd46_878602ff9c"
                            tabindex="-1" value=""></div>
                </div>
        </div>
    </div>
</div>
</div>
{% endblock %}
{%block js%}

{%endblock%}
