{% extends 'HFC/layout.html' %}
{% block meta_tags %}

<meta content="" name="keywords">
<meta property="og:title" content="{{problem.title}}">
<meta name="description" property="og:description" content="{{problem.summary|striptags|truncatewords:20}}">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://hackforchange.co/problem-statements/{{problem.title_slug}}">
{% endblock %}
{% load static  %}
{% block title %} Focus Areas | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
        <div class="content-width sm-content-width">
            <div class="banner__main">
                <h1>{{issue.issue_area}}</h1>
                <p class="large">{{issue.issue_brief}}</p>
                <a class="btn btn--info" href="{% url 'problem_statements_submit' %}">Suggest a problem statement</a>
            </div>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__md-pd">
	<div class="content-width">
        <div class="main">
        	<section id="contents">
                <div class="blog-single">
                    <h3>{{issue.issue_area}}</h3>
                    <div class="blog-single__content">
                        <p class="large sbold">Overview</p>
                        <p style="text-align:justify;">{{issue.issue_overview |safe}}</p>
                        <p class="large sbold">{{issue.issue_area}} in Indian Context</p>
                        <p style="text-align:justify;">{{issue.context |safe}}</p>
                        <p class="large sbold">Technology and {{issue.issue_area}}</p>
                        <p style="text-align:justify;">{{issue.technology_intervention |safe}}</p>
                        <p class="large sbold">Related links</p>
                        {% if issue.related_information %}
                        <p><a href={{issue.related_information}} >{{issue.related_information |safe}}</a></p>
                        {% endif %}
                        <p class="large sbold"></p>
                        <p style="text-align:justify;"></p>
                    </div>
                </div>
            </section>
            
            <aside id="sidebar">
                <div class="sidebar__list">
                    <p>Explore problem statements across various issue areas</p>
                    <ul>
                        {% for issue_area in issue_areas %}
                    <li><a href="{% url 'issue_area' issue_area.issue_area_slug %}">{{issue_area.issue_area}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                            action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                            method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                            novalidate>
                            <p class="large bold">Get Latest Updates!</p>
                            <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                            <input class="btn btn--info" type="submit" value="Subscribe">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                            </div>
                        </form>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
                </div>
            </aside><!--sidebar -->
        </div>
    </div>
</div>
<!--main end -->
{% endblock %}
