{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Thanks | Hack For Change {% endblock %}
{% block main %}

<!-- Main starts -->
<div class="content-width">
        <div class="thanku-main">
            <div class="thanku-main-img">
                <img src="{% static 'images/thank-you-img.svg' %}"> 
            </div>
            <div class="thanku-heading">
               <h3>Thank you for signing up to join "CTSC core team". We want to understand your capabilities a little more. 
                   We see this as the best way to involve you in the right position.</h3>
                <h3>Please check your email to get started.</h3>  
           </div>
        </div>
    </div>
<!-- Main Ends -->
{%endblock%}
