{% extends 'HFC/layout.html'%}
{% load static %}
{% block meta_tags %}
<meta name="keywords" content="">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="Organizations with deep domain expertise and on the path to empower citizens of India are requested to suggest problem statements, along with possible solutions to some of the pressing issues in India.">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/problem-statement/suggest/">
{% endblock %}
{% block title %} Suggest Problem Statement | Hack For Change {% endblock %}
{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Problem statement</h1>
            <p class="large">Suggest any problem statements in the areas of governance, civic engagement, social
                enterprise and disaster management</p>
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
    <div class="content-width">    
        <div class="main">   
            <section id="contents">
                            <div class="uni-chapter"><img width="84px" src="{% static 'images/hfc-small.png' %}">
                    <h2>Suggest a problem statement</h2>
                </div>
                <h2 style="padding-bottom: 20px;"></h2>    
                <form class="site-form" action="" method="post">
                    {%csrf_token%}
                    <div class="form-field">
                        <label for="">Problem Statement</label>
                        {{form.problem_statement}}
                    </div>
                    <div class="form-field">
                        <label for="">Overview</label>
                        {{form.overview}}
                    </div>
                    <div class="form-field">
                        <label for="">Background Information</label>
                        {{form.background_info}}
                    </div>
                    <div class="form-field">
                        <label for="">Proposed Solution</label>
                        {{form.proposed_solution}}
                    </div>

                    <div class="form-field">
                        <label for="">Related Links</label>
                        {{form.related_link}}
                    </div>
                    <div class="form-field" style="margin-bottom: 5px;">
                        <label for="">Issue Areas</label>
                    </div>
                    <div id="number"><span id="error"></span></div>
                    <div>
                        {{form.issue_area}}
                    </div>
                    <br>

                    <h2 style="padding-bottom: 20px;">Tell us a little about yourself</h2>    
                    <div class="form-control">
                    <div class="form-field">
                        <label for="">Name</label>
                        {{form.name}}
                    </div>
                    <div class="form-field">
                        <label for="">Email</label>
                        {{form.email}}
                    </div>
                    </div>
                    <div class="form-control">
                    <div class="form-field">
                        <label for="">Phone Number</label>
                        {{form.phone_number}}
                    </div>
                    <div class="form-field">
                        <label for="">Organisation Name</label>
                        {{form.organisation}}
                    </div>
                    </div>
                    <div class="form-field">
                        <label for="">Any other comments</label>
                        {{form.about_yourself}}
                    </div>                   
                    <div class="btn-outer">
                        <input class="btn btn--info btn--full" type="submit" onClick="valthisform()" value="Submit">
                    </div>
                </form>
            </section>
            <aside id="sidebar">
                <div class="sidebar__list">
                    <p>Explore technology interventions across various issue areas</p>
                    <ul>
                        {% for issue_area in issue_areas %}
                    <li><a href="{% url 'issue_area' issue_area.issue_area_slug %}">{{issue_area.issue_area}}</a></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                            action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                            method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                            novalidate>
                            <p class="large bold">Get Latest Updates!</p>
                            <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                            <input class="btn btn--info" type="submit" value="Subscribe">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                            </div>
                    </form>
                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                    name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
                </div>
            </aside>
            <!--sidebar -->
        </div>
    </div>
</div>
<!--main end -->
{%endblock%}
{%block js%}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
<script>
function valthisform(){
    var checkboxs=document.querySelectorAll('input[type="checkbox"]');
    var okay=false;
    for(var i=0,l=checkboxs.length;i<l;i++)
    {
        if(checkboxs[i].checked)
        {
            okay=true;
            break;
        }
    }
    if(okay){$(this).trigger('click');}
    else {//alert("Please check atleast one Area of Expertise!");
        var error = document.getElementById("error")
        if (isNaN(document.getElementById("number").value)) 
        {
              
            // Changing content and color of content
            error.textContent = "Please select at least one issue !"
            error.style.color = "red"
        } else {
            error.textContent = ""
        }
        setTimeout(function() {error.textContent = ""}, 1500);
        event.preventDefault();
        return false;
    
    } }


</script>
{%endblock%}
