{% extends 'HFC/layout.html' %}
{% block meta_tags %}

<meta content="" name="keywords">
<meta property="og:title" content="{{project.name}}">
<meta name="description" property="og:description" content="{{project.project_desc|striptags|truncatewords:20}}">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://hackforchange.co/problem-statements/{{problem.title_slug}}">
{% endblock %}
{% load static  %}
{% block title %} Project Details | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
        <div class="content-width sm-content-width">
            <div class="banner__main">
                <h1>{{project.name}}</h1>
                <p class="large">Ongoing solutions designed and developed to empower citizens</p>
                <a class="btn btn--info" href="{% url 'mentor_signup' %}">Signup as a Mentor</a>
            </div>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__md-pd">
	<div class="content-width">
        <div class="main">
        	<section id="contents">
                <div class="blog-single">
                    <h3>{{project.name}}</h3>
                    <div class="blog-single__content">
                        <p class="large sbold">Overview</p>
                        {% if project.project_overview %}
                        <p style="text-align:justify;">{{project.project_overview}}</p>
                        {% else %}
                        <p>_</p>
                        {% endif %}
                        <p class="large sbold">Goal</p>
                        {% if project.goal %}
                        <p style="text-align:justify;">{{project.goal}}</p>
                        {% else %}
                        <p>_</p>
                        {% endif %}
                        <p class="large sbold">Github Link</p>
                        {% if project.project_link %}
                        <p> <a href={{project.project_link}} >{{project.project_link}}</a></p>
                        {% else %}
                        <p>_</p>
                        {% endif %}
                        {% if project.website_link %}
                        <p class="large sbold">Website Link</p>
                        <p><a href={{project.website_link}} >{{project.website_link}}</a></p>
                        {% else %}
                        <p>_</p>
                        {% endif %}
                        <p class="large sbold">Funded by</p>
                        {% for item in funding %}
                        <div class="row">
                            {% for partner in item.partner.all%}
                            <div class="column" style = "float: left;padding: 5px;">
                                <img src={{partner.logo.url}} alt="{{partner.name}}" style="width:100px;height:100px;">
                            </div>
                            {% endfor %}  
                        </div>
                        {% endfor %}
                        <p class="large sbold" style = "margin-top: 140px;">Community Partners</p>
                        {% for item in community_partners %}
                        <div class="row">
                            {% for partner in item.partner.all%}
                            <div class="column" style = "float: left;padding: 10px;">
                            <a href="{{partner.website}}"><img src={{partner.logo.url}} alt="{{partner.name}}" style="width:100px;height:100px;"></a>
                            </div> 
                            {% endfor %}
                        </div>
                        {% endfor %} 
                        
                             
                    </div>   
                </div>  
            </section>
           
            <aside id="sidebar">
                <div class="sidebar__member-sec">
                    <p class="sbold">Top Contributors</p>
                    <ul class="sidebar__member">
                        {% for contributor in contributors%}
                        {% if contributor.image %}
                        <li><a  title="{{contributor.name}}" href="{{contributor.linkedin_profile}}" target="_blank"><img src={{contributor.image.url}} alt="{{contributor.name}}" ></a></li>
                        {% endif %}
                        {%endfor%}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                            action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                            method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                            novalidate>
                            <p class="large bold">Get Latest Updates!</p>
                            <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                            <input class="btn btn--info" type="submit" value="Subscribe">
                            <div id="mce-responses" class="clear">
                                <div class="response" id="mce-error-response" style="display:none"></div>
                                <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                            </div>
                        </form>
                        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                            name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
                </div>
            </aside><!--sidebar -->
        </div>
    </div>
</div>
<!--main end -->
{% endblock %}
