{% include 'header.html'%}
<!DOCTYPE html>
<html>

    <head>
        <title></title>
        
    </head>

    <body>
            <div>
                <p> Dear {{name}}, </p>
                <p>You have been invited  by Hack For Change to attend the screening test.Please click on the below link to take the test.</p>
                {% if debug %}
                http://staging.hackforchange.co.in/screenings/{{screeninguuid}} <br>
                {% else %}
                https://www.hackforchange.co.in/screenings/{{screeninguuid}}
                {% endif %}
            </div>
    </body>
</html>
                