{% extends 'HFC/layout.html'%}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="Terms and Conditions Hack for Change">
<meta name="description" property="og:description" content="This particular page describes the general and legal conditions between Hack For Change and Website user.">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/terms-conditions/">
{% endblock %}
{% block title %} Terms and Conditions | Hack For Change {% endblock %}
{% block main %}
<!--Banner start -->
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Terms and Conditions</h1>
            <p class="large">
                Our standard terms of use
            </p>
        </div>
    </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
    <div class="content-width">
        <div class="main">
            <section id="contents">
                <div class="blog-single">
                    <h3>Website Terms and Conditions of Use</h3>
                    <div class="blog-single__content">
                        <h3>1. Terms</h3>
                        <p style="text-align:justify;text-justify:inter-word;">By accessing this Website, accessible
                            from
                            www.hackforchange.co.in, you are agreeing to be bound by these Website Terms and Conditions
                            of Use and
                            agree that you are responsible for the agreement with any applicable local laws. If you
                            disagree
                            with any of these terms, you are prohibited from accessing this site. The materials
                            contained in
                            this Website are protected by copyright and trade mark law.</p>
                        <h3>2. Use License</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Permission is granted to temporarily
                            download one
                            copy of the materials on Hack For Change's Website for personal, non-commercial transitory
                            viewing
                            only. This is the grant of a license, not a transfer of title, and under this license you
                            may not:
                        </p>
                        <ul style="list-style-type:square;list-style-position: inside;color: #706e6e;">
                            <li>modify or copy the materials;</li>
                            <li>use the materials for any commercial purpose or for any public display;</li>
                            <li>attempt to reverse engineer any software contained on Hack For Change's Website;</li>
                            <li>remove any copyright or other proprietary notations from the materials; or</li>
                            <li>transferring the materials to another person or "mirror" the materials on any other
                                server.</li>
                        </ul><br>
                        <p style="text-align:justify;text-justify:inter-word;">This will let Hack For Change to
                            terminate upon
                            violations of any of these restrictions. Upon termination, your viewing right will also be
                            terminated and you should destroy any downloaded materials in your possession whether it is
                            printed
                            or electronic format. </p>
                        <h3>3. Disclaimer</h3>
                        <p style="text-align:justify;text-justify:inter-word;">All the materials on Hack For Change’s
                            Website
                            are
                            provided "as is". Hack For Change makes no warranties, may it be expressed or implied,
                            therefore
                            negates all other warranties. Furthermore, Hack For Change does not make any representations
                            concerning the accuracy or reliability of the use of the materials on its Website or
                            otherwise
                            relating to such materials or any sites linked to this Website.</p>
                        <h3>4. Limitations</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Hack For Change or its suppliers will not
                            be hold
                            accountable for any damages that will arise with the use or inability to use the materials
                            on
                            Hack For Change’s Website, even if Hack For Change or an authorize representative of this
                            Website
                            has
                            been notified, orally or written, of the possibility of such damage. Some jurisdiction does
                            not
                            allow limitations on implied warranties or limitations of liability for incidental damages,
                            these
                            limitations may not apply to you.</p>
                        <h3>5. Revisions and Errata</h3>
                        <p style="text-align:justify;text-justify:inter-word;">The materials appearing on Hack For
                            Change’s
                            Website may include technical, typographical, or photographic errors. Hack For Change will
                            not
                            promise
                            that any of the materials in this Website are accurate, complete, or current. Hack For
                            Change may
                            change the materials contained on its Website at any time without notice. Hack For Change
                            does not
                            make any commitment to update the materials.</p>
                        <h3>6. Links</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Hack For Change has not reviewed all of
                            the sites
                            linked to its Website and is not responsible for the contents of any such linked site. The
                            presence
                            of any link does not imply endorsement by Hack For Change of the site. The use of any linked
                            website
                            is at the user’s own risk.</p>
                        <h3>7. Site Terms of Use Modifications</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Hack For Change may revise these Terms of
                            Use for
                            its Website at any time without prior notice. By using this Website, you are agreeing to be
                            bound by
                            the current version of these Terms and Conditions of Use.</p>
                        <h3>8. Your Privacy</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Please read our Privacy Policy.</p>
                        <h3>9. Governing Law</h3>
                        <p style="text-align:justify;text-justify:inter-word;">Any claim related to Hack For Change's
                            Website
                            shall be governed by the laws of af without regards to its conflict of law provisions.</p>
                        </div>
                </div>
            </section>
            <aside id="sidebar">
                <div class="sidebar__list">
                    <p>Explore problem statements across various issue areas</p>
                    <ul>
                        {% for issue_area in issue_areas %}
                        <li><a
                                href="{% url 'problem_statements_with_issuearea' issue_area.issue_area_slug %}">{{issue_area.issue_area}}</a>
                        </li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="newsletter">
                    <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                    <form
                        action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                        method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                        novalidate>
                        <p class="large bold">Get Latest Updates!</p>
                        <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                        <input class="btn btn--info" type="submit" value="Subscribe">
                        <div id="mce-responses" class="clear">
                            <div class="response" id="mce-error-response" style="display:none"></div>
                            <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                        </div>
                </div>
                <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                        name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
        </div>
        </form>
    </div>
    </aside>
    <!--sidebar -->
</div>
</div>
</div>
<!--main end -->
{%endblock%}

{%block js%}
<script type='text/javascript' src='//s3.amazonaws.com/downloads.mailchimp.com/js/mc-validate.js'></script>
<script
    type='text/javascript'>(function ($) { window.fnames = new Array(); window.ftypes = new Array(); fnames[0] = 'EMAIL'; ftypes[0] = 'email'; fnames[1] = 'FNAME'; ftypes[1] = 'text'; fnames[2] = 'LNAME'; ftypes[2] = 'text'; fnames[3] = 'ADDRESS'; ftypes[3] = 'address'; fnames[4] = 'PHONE'; ftypes[4] = 'phone'; fnames[5] = 'BIRTHDAY'; ftypes[5] = 'birthday'; }(jQuery)); var $mcj = jQuery.noConflict(true);</script>
{%endblock%}
