{% extends "HFC/layout.html" %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="https://www.hackforchange.co.in/blog/">
{% endblock %}
{% block title %} Blog | Hack For Change {% endblock %}
{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Our Latest Updates</h1>
            <p class="large">Stay tuned to the latest news from our core team, community and partners</p>
        </div>
    </div>
</div>
</div>

<main>
    <div class="content-width blog-list">
        {% for blog in page_obj.object_list %}
        <div class="post-block">
            <div class="post-img">
                {% if blog.image %}
                <a href="{{ blog.get_absolute_url }}"><img src="{{ blog.image.url }}"
                        alt="Preview image for {{ blog.title }}"></a>
                {% endif %}
            </div>
            <div class="post-info">
                <p> {{ blog.created_on|date:"DATE_FORMAT" }}</p>
                <h4><a href="{{ blog.get_absolute_url }}">{{ blog.title|striptags|truncatewords:10 }}</a></h4>
                <a href="{{ blog.get_absolute_url }}">Read More<img src="{% static 'images/angle-right.png' %}"></a>
            </div>
        </div>
        {% endfor %}
    </div><br><br>
    <!---- <div class="last-Updates">
        <div class="learn-more"><a href=""></a></div>
    </div>-->
</main>
{% endblock%}

