{% extends "HFC/layout.html" %}
{% load static %}
{% block meta_tags %}
<meta  name="keywords" content="{{blog.keyword}}">
<meta property="og:title" content="{{blog.title}}">
<meta property="og:description" name="description"  content=" {{ blog.body|striptags|truncatewords:20 }}">
<meta property="og:type" content="article">
<meta property="og:image" content="{{ blog.image.url }}">
<meta property="og:url" content="{{ blog.get_absolute_url }}">
{% endblock %}
{% block title %}{{blog.title}}| Hack For Change{% endblock %}
{% block main %}
<!--Banner start -->
<div class="banner-wrap">
    <div class="content-width sm-content-width">
        <div class="banner__main">
            <h1>Latest updates</h1>     
        </div>
    </div>
</div>
</div>
<!--Banner end -->
<div id="main-wrap" class="main__md-pd">
    <div class="content-width">
            <div class="main">
                <section id="contents">
                    <div class="blog-single" >
                        <h3 style="margin-bottom:3px;">{{blog.title}} </h3>
                        <div class="proceedings-text" style="margin-bottom:5px;">
                                 <div class="foucs bloge" style="margin-left:4px;">{{blog.created_on|date:"D, dS M, Y" }}
                                 </div>
                        </div>
                        {% if blog.image %}
                        <div class="blog-main-img">
                            <a href="{{ blog.get_absolute_url }}"><img src="{{ blog.image.url }} " alt="Preview image for {{ blog.title }}"></a> 
                        </div>
                        {% endif %}
                        <div class="blog-single__content">
                            <p style="text-align:justify;">{{ blog.body |safe }}</p>  
                        </div>
                    </div>
                </section>
                <aside id="sidebar">
                    <div class="sidebar__list">    
                    </div>
                    <div class="newsletter">
                        <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
                        <form
                                action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                                method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                                novalidate>
                                <p class="large bold">Get Latest Updates!</p>
                                <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                                <input class="btn btn--info" type="submit" value="Subscribe">
                                <div id="mce-responses" class="clear">
                                    <div class="response" id="mce-error-response" style="display:none"></div>
                                    <div class="response" id="mce-success-response" style="display:none;font-size: 8px;"></div>
                                </div>
                            </form>
                            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                            <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                                name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
                    </div>
                </aside><!--sidebar -->
            </div>
        </div>
    </div>



{%endblock%}
{% block css %}
<style>
    #profileImage {
        width: 87px;
        height: 80px;
        border-radius: 50%;
        background: #512DA8;
        font-size: 30px;
        color: #fff;
        text-align: center;
        line-height: 80px;
        margin: 10px 0;

    }
</style>

{% endblock %}



