{% include 'base.html'%}

<!DOCTYPE html>
<html>

<head>
  <title>Screen Test</title>
</head>

<body>

  {% block body %}
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <form method="post">
          {%csrf_token%}


          {% for question in questions %}
          {%for i in question.question.all%}


          <h3>{{i.question}}</h3><br>
        

         <input type="radio" id={{i.question_id}} name={{question.id}} value="option_1">
          <label for="option_1">{{i.option_1}}</label><br>

          <input type="radio" id={{i.question_id}} name={{question.id}} value="option_2">
          <label for="option_2">{{i.option_2}}</label><br>


          <input type="radio" id={{i.question_id}} name={{question.id}} value="option_3">
          <label for="option_1">{{i.option_3}}</label><br>


          <input type="radio" id={{i.question_id}} name={{question.id}} value="option_4">
          <label for="option_4">{{i.option_4}}</label><br>


          {%endfor%}
          {%endfor%}



          <!----<button formaction="screening_preview/{{screening_uuid}}">Preview&Save</button>-->
          <input type="submit" class="btn btn-success" value="Save & Preview">
        </form>
      </div>



      {%endblock%}
      <div class="col-lg-4"></div>
    </div>
  </div>


  {% include 'footer.html'%}
</body>

</html>