{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article">
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Screening | Hack For Change {% endblock %}

{% block main %}
<!--Banner start -->
<div class="banner-wrap">
  <div class="content-width sm-content-width">
      <div class="banner__main">
          <h1>Lets get to know you better</h1>
          <p class="large"> Please take a minute to answer the following questions, so that we can understand your level of
            expertise.
          </p>
      </div>
  </div>
</div>
<!--Banner end -->
<!--main start -->
<div id="main-wrap" class="main__large-pd">
  <div class="content-width">
      <div class="main">
          <section id="contents">
            <h2> Answer all the questions</h2><br>
            <form class="site-form" method="post">
                {%csrf_token%}
                {% for question in questions %}
                {%for i in question.question.all%}
                <div class="form-field" style="margin-bottom: 5px;">
                  <label for="" >{{forloop.parentloop.counter}}. {{i.question}}</label>
                  {% if i.question_img %}
                    <img src="{{i.question_img}}" alt="image">
                  {% endif%}
              </div>
              <input type="radio" id={{question.id}} name={{question.id}} disabled='disabled' value="option_1" {% if question.candidate_ans == "option_1" %} checked{% endif %}  />
              <label for="option_1">{{i.option_1}}</label><br>
              <input type='hidden' name={{question.id}} value="option_1" />
              <input type="radio" id={{question.id}} name={{question.id}} disabled='disabled' value="option_2" {% if question.candidate_ans == "option_2" %} checked{% endif %}/>
              <label for="option_2">{{i.option_2}}</label><br>
              <input type='hidden' name={{question.id}} value="option_2" />
              <input type="radio" id={{question.id}} name={{question.id}} disabled='disabled' value="option_3" {% if question.candidate_ans == "option_3" %} checked{% endif %} />
              <label for="option_1">{{i.option_3}}</label><br>
              <input type='hidden' name={{question.id}} value="option_3" />
              <input type="radio" id={{question.id}} name={{question.id}} disabled='disabled' value="option_4" {% if question.candidate_ans == "option_4" %} checked{% endif %} />
              <label for="option_4">{{i.option_4}}</label><br>
              <input type='hidden' name={{question.id}} value="option_4" />
              {%endfor%}
              {%endfor%}
          <input type="submit" class="btn btn-success btn-lg" value="Submit">
        </form>
      </section>
      <!--contents -->
      <aside id="sidebar">
        <div class="sidebar__member-sec">
            <p class="sbold">Our Top Mentors</p>
            <ul class="sidebar__member">
                {% for mentor in mentors%}
                {% if mentor.image %}
                <li><img src={{mentor.image.url}} alt="Pic"></li>
                {% endif %}
                {%endfor%}
            </ul>
        </div>
        <div class="newsletter">
            <div class="newsletter__fig"><img src="{% static 'images/news-update.png' %}" alt="Image"></div>
            <form
                action="https://hackforchange.us7.list-manage.com/subscribe/post?u=d108098b91660a39ebfc4dd46&amp;id=878602ff9c"
                method="post" target="_blank" id="mc-embedded-subscribe-form" class="newsletter__form"
                novalidate>
                <p class="large bold">Get Latest Updates!</p>
                <input type="email" placeholder="Enter your email" name="EMAIL" id="mce-EMAIL">
                <input class="btn btn--info" type="submit" value="Subscribe">
                <div id="mce-responses" class="clear">
                    <div class="response" id="mce-error-response" style="display:none"></div>
                    <div class="response" id="mce-success-response" style="display:none"></div>
                </div>
        </div>
        <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
        <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text"
                name="b_d108098b91660a39ebfc4dd46_878602ff9c" tabindex="-1" value=""></div>
</div>
</form>
</div>
</aside>
<!--sidebar -->
</div>
</div>
</div>
{%endblock%}

