{% extends 'HFC/layout.html' %}
{% load static %}
{% block meta_tags %}
<meta content="" name="keywords">
<meta property="og:title" content="">
<meta name="description" property="og:description" content="">
<meta property="og:type" content="article" >    
<meta property="og:image" content="https://www.hackforchange.co.in/static/images/hfc.png">
<meta property="og:url" content="">
{% endblock %}
{% block title %} Screening | Hack For Change {% endblock %}
{% block main %}
<!-- Main starts -->
<div class="content-width">
        <div class="thanku-main">
            <div class="thanku-main-img">
                <!----<img src="{% static 'images/thank-you-img.svg' %}"> -->
            </div>
            <div class="thanku-heading">
               <h3>Looks like you have already taken the screening.</h3>
               
           </div>
        </div>
    </div>
<!-- Main Ends -->
{%endblock%}
